.bg1 {
  height: 100vh;
  width: 100vw;
  background-image: url('../../assets/imgs/bg1.png');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  .thoughts {
    display: table;
    text-align: center;
    position: absolute;
    width: 70vw;
    height: 40vw;
    color: #630000;
    background-image: url('../../assets/imgs/thoughts.png');
    background-repeat: no-repeat;
    background-size: 100%;
    span {
      font-size: 7vw;
      display: table-cell;
      vertical-align: middle;
    }
  }
  .idea {
    width: 35vw;
    height: 35vw;
    position: absolute;
    background-image: url('../../assets/imgs/idea.png');
    background-repeat: no-repeat;
    background-size: 100%;
    // animation: action_translate 1s linear 0.5s;
    // animation-fill-mode: forwards;
  }
  .tishi {
    display: table;
    position: absolute;
    top: 30vh;
    left: 15vw;
    text-align: center;
    width: 70vw;
    height: 15vh;
    background-color: white;
    opacity: 0.5;
    border-radius: 5vw;
    animation: tishi 1s linear infinite;
    span {
      font-size: 7vw;
      display: table-cell;
      vertical-align: middle;
    }
  }
}

@keyframes tishi {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.5;
  }
}

@for $i from 0 through 3 {
  .show#{$i}-enter {
    opacity: 0.01;
    transform: translate(20vw, 40vh) scale(0);
  }
  .show#{$i}-enter-active {
    opacity: 0.5;
    transition: all 500ms linear;
  }
  .show#{$i}-enter-done {
    opacity: 1;
    transition: all 500ms linear;
  }
  .show#{$i}-exit-active {
    opacity: 0;
    transition: all 500ms ease-in;
  }
  .show#{$i}-exit-done {
    opacity: 0;
    transform: scale(0);
  }
}

.show0-enter-active {
  transform: translate(25vw, 25vh) scale(0.5);
}

.show0-enter-done,
.show0-exit {
  transform: translate(30vw, 10vh) scale(1);
}

.show1-enter-active {
  transform: translate(10vw, 29vh) scale(0.4);
}

.show1-enter-done,
.show1-exit {
  transform: translate(0vw, 18vh) scale(0.8);
}

.show2-enter-active {
  transform: translate(10vw, 20vh) scale(0.45, 0.4);
}

.show2-enter-done,
.show2-exit {
  transform: translate(-4vw, 2vh) scale(0.9, 0.8);
}

.show3-enter-active {
  transform: translate(29vw, 30vh) scale(0.45, 0.35);
}

.show3-enter-done,
.show3-exit {
  transform: translate(38vw, 20vh) scale(0.8, 0.7);
}

.idea-enter {
  opacity: 0.01;
  transform: translate(20vw, 40vh) scale(0);
}

.idea-enter-active {
  opacity: 0.5;
  transform: translate(35vw, 30vh) scale(0.5);
  transition: all 500ms linear;
}

.idea-enter-done {
  opacity: 1;
  transform: translate(50vw, 20vh) scale(1);
  transition: all 500ms linear;
}

.idea-exit {
  opacity: 1;
  transform: translate(50vw, 20vh) scale(1);
}

.idea-exit-active {
  opacity: 0;
  transform: translate(100vw, 20vh) scale(1);
  transition: all 500ms ease-in;
}

.idea-exit-done {
  opacity: 0;
  transform: scale(0);
}