.bg7 {
  height: 100vh;
  width: 100vw;
  background-image: url('../../assets/imgs/bg7.jpg');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  overflow: hidden;
  .clock1 {
    position: absolute;
    top: 7vw;
    left: 7vw;
    width: 35vw;
    height: 35vw;
    background-image: url('../../assets/imgs/clock1.png');
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .ui2 {
    position: absolute;
    width: 25vw;
    animation: uishow2 1000ms linear forwards;
  }
  .han {
    position: absolute;
    bottom: 28vh;
    left: 15vw;
    width: 25vw;
    animation: say 250ms linear infinite;
  }
  .xuqiu {
    position: absolute;
    // right: 10vw;
    // bottom: 15vh;
    width: 30vw;
  }
  .xuqiu1 {
    position: absolute;
    right: 7vw;
    bottom: 12vh;
    width: 30vw;
  }
  .title {
    color: #630000;
    left: 6vw;
    top: 27vh;
    position: absolute;
    font-size: 6vw;
  }
  .man {
    position: relative;
    // right: 0;
    // top: 30vh;
    width: 45vw;
    height: 38vh;
  }
  .conver {
    position: absolute;
    color: #630000;
    font-size: 6.5vw;
  }
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
    background-image: url('../../assets/imgs/clock1.png');
  }
  50% {
    transform: rotate(180deg);
    background-image: url('../../assets/imgs/clock2.png');
  }
  100% {
    transform: rotate(360deg);
    background-image: url('../../assets/imgs/clock1.png');
  }
}

@keyframes uishow2 {
  0% {
    opacity: 1;
    transform: translate(-25vw, 20vh) scale(1);
  }
  30%,
  70% {
    opacity: 0.8;
    transform: translate(15vw, 30vh) skew(20deg, -20deg) rotate(45deg) scale(1.5);
  }
  100% {
    opacity: 0;
    transform: translate(20vw, 55vh) scale(0.5);
  }
}

.man-enter {
  opacity: 0.01;
  transform: translate(100vw, 30vh) scale(0);
}

.man-enter-active {
  opacity: 0.5;
  transform: translate(75vw, 30vh) scale(1);
  transition: all 500ms linear;
}

.man-enter-done {
  opacity: 1;
  transform: translate(55vw, 30vh) scale(1);
  transition: all 500ms linear;
}

.man-exit {
  opacity: 1;
  transform: translate(55vw, 30vh) scale(1);
}

.man-exit-active {
  opacity: 0.5;
  transform: translate(100vw, 30vh) scale(0);
  transition: all 500ms ease-in;
}

.man-exit-done {
  opacity: 0;
  transform: scale(0);
}

.xuqiu-enter {
  opacity: 0.01;
  transform: translate(65vw, 75vh) scale(0);
}

.xuqiu-enter-active {
  opacity: 0.5;
  transform: translate(65vw, 75vh) scale(0.5);
  transition: all 500ms linear;
}

.xuqiu-enter-done {
  opacity: 1;
  transform: translate(65vw, 75vh) scale(1);
  transition: all 500ms linear;
}

.xuqiu-exit {
  opacity: 1;
  transform: translate(65vw, 75vh) scale(1);
}

.xuqiu-exit-active {
  opacity: 0;
  transform: translate(100vw, 20vh) scale(1);
  transition: all 500ms ease-in;
}

.xuqiu-exit-done {
  opacity: 0;
  transform: scale(0);
}

@for $i from 0 through 2 {
  .conver#{$i}-enter {
    opacity: 0.01;
    transform: translate(47vw, 30vh) scale(0);
  }
  .conver#{$i}-enter-active {
    opacity: 0.5;
    transition: all 500ms linear;
  }
  .conver#{$i}-enter-done {
    opacity: 1;
    transition: all 500ms linear;
  }
  .conver#{$i}-exit-active {
    opacity: 0;
    transition: all 500ms ease-in;
  }
  .conver#{$i}-exit-done {
    opacity: 0;
    transform: scale(0);
  }
}

.conver0-enter-active {
  transform: translate(47vw, 20vh) scale(0.5);
}

.conver0-enter-done,
.conver0-exit {
  transform: translate(47vw, 10vh) scale(1);
}

.conver1-enter-active {
  transform: translate(47vw, 22.5vh) scale(0.5);
}

.conver1-enter-done,
.conver1-exit {
  transform: translate(47vw, 15vh) scale(1);
}

.conver2-enter-active {
  transform: translate(47vw, 25vh) scale(0.45, 0.4);
}

.conver2-enter-done,
.conver2-exit {
  transform: translate(47vw, 20vh) scale(1);
}

.conver3-enter {
  opacity: 0.01;
  transform: translate(4vw, 60vh) scale(0);
}

.conver3-enter-active {
  opacity: 0.5;
  transform: translate(4vw, 50vh) scale(0.5);
  transition: all 500ms linear;
}

.conver3-enter-done {
  opacity: 1;
  transform: translate(4vw, 45vh) scale(1);
  transition: all 500ms linear;
}

.conver3-exit {
  transform: translate(4vw, 45vh) scale(1);
}

.conver3-exit-active {
  opacity: 0;
  transition: all 500ms ease-in;
}

.conver3-exit-done {
  opacity: 0;
  transform: scale(0);
}

.title-enter {
  opacity: 0.01;
  transform: scale(0);
}

.title-enter-active {
  opacity: 0.5;
  transform: scale(1.5);
  transition: all 500ms linear;
}

.title-enter-done {
  opacity: 1;
  transform: scale(1);
  transition: all 500ms linear;
}

.title-exit {
  transform: scale(1);
}

.title-exit-active {
  opacity: 0.5;
  transition: all 500ms ease-in;
}

.title-exit-done {
  opacity: 0;
  transform: scale(0);
}